@use "./styles/colors";
@use "./styles/mixins";

body {
  background-color: colors.$background-light;
  color: colors.$dark;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  text-shadow: 0 0 1.25px;

  #wrapper {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    h1 {
      text-align: center;
      margin-bottom: 4em;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-top: 2em;
        width: 100%;
        padding: 0.25em;
        background-color: colors.$background-dark;
        border-radius: 0.25em;
        text-align: center;

        a {
          color: colors.$light;
          text-decoration: none;
        }
      }
    }
  }
}
